body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.root {
  font-family: 'Roboto Condensed';
}

.ui.vertical.menu {
  width: 18rem;
  text-align: initial;
  margin-left: 40px;
}

* {
  text-overflow: ellipsis;
}

.issue--body {
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
}
